<!DOCTYPE html>
  <html>
    <head>
      <title></title>
      <link rel="stylesheet" href="stylesheets/main_content.css" type="text/css">
    </head>
  <body>
    <div class="middle-column"><h1>This is the about page.</h1></div>
  </body>
</html>

