<!DOCTYPE html>
  <html>
    <head>
      <title></title>
      <link rel="stylesheet" href="stylesheets/main_content.css" type="text/css">
      <style type="text/css">
        body { 
  margin: 0;
  background-color: #eee;
}





      </style>
    </head>
  <body>
     <div class="jumbotron">
    <div class="container">
      <h1>Welcome To Weird Science</h1>
      
      <li><a class="active" href="/signup">Sign Up Here!</a></li>
    </div>
  </div>
  </body>
</html>

