<!DOCTYPE html>
  <html>
  <head>
    <title></title>
    <link rel="stylesheet" href="stylesheets/students/home.css" type="text/css">
  </head>
  <body>
    <div class="jumbotron">
    <div class="jumbo-container">
      <h1>Welcome To Weird Science</h1><br><br>
      <li><a class="active" href="/signup">Sign Up Here!</a></li>
    </div>
  </div>
  </body>
</html>

 
