<!DOCTYPE html>
  <html>
  <head>
    <title></title>
    <link rel="stylesheet" href="stylesheets/main_content.css" type="text/css">
  </head>
  <body>
    <div class="middle-column">This is the home page</div>
  </body>
</html>
