<!DOCTYPE html>
  <html>
  <head>
    <title></title>
    <link rel="stylesheet" href="stylesheets/students/home.css" type="text/css">
  </head>
  <body>
    <div class="jumbotron">
      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %><br>
    <div class="jumbo-container">
      <h1>Welcome To Weird Science</h1><br><br>
      <% if !Sessions.is_logged_in?(session)%>
      <li><a class="active" href="/signup">Sign Up Here!</a></li>
      <% end %>
    </div>
  </div>
  </body>
</html>

 
