<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/sessions/login.css" type="text/css">
</head>
<body>
  <form action="/login" method="POST">
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %><br>
  <div class="imgcontainer">
    <img src="/images/loginavatar.jpeg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="user_name" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>
</form>
</body>
</html>