<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/students/show.css" type="text/css">
</head>
<body>
  
<div class="card">
  <img src="/w3images/team2.jpg" alt="John" style="width:100%">
  <h1><%= @student.name %></h1>
  <p class="title"><%= @student.class_year %></p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact</button></p>
</div>


</body>
</html>