<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
</head>
<body>
  <div class="dropdown">
  <div class="dropdown-content">
    <a href="/labs">My Labs</a>
    <a href="/labs/new">Add Lab</a>
    <a href="/search">Search Lab</a>
    <a href="/search">Update Lab</a>
    <a href="/search">Delete Lab</a>
  </div>
</div>
</body>
</html>