<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
</head>
<body>
  <div class="dropdown">
  <div class="dropdown-content">
    <a href="#">Add Lab</a>
    <a href="#">Search Lab</a>
    <a href="#">Update Lab</a>
    <a href="#">Delete Lab</a>
  </div>
</div>
</body>
</html>