<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer">
  <ul>
    <li><a class="fa-labtracker" href="/">LabTracker</a></li>
    <li><a href="https://www.facebook.com/" class="fa fa-facebook" ></a></li>
    <li><a href="https://twitter.com/tweeterhomepage?lang=en" class="fa fa-twitter"></a></li>
    <li><a href="https://www.google.com/" class="fa fa-google"></a></li>
    <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
    <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
    <li><a href="https://www.youtube.com/" class="fa fa-youtube"></a></li>
    <% @logged_in = false %>
    <% if @logged_in %>
      <li><li><a href="#about">Log Out</a></li></li>
    <% else %>
      <li><a href="#about">Log In</a></li>
   <% end %>
  </ul> 
</div>

  