<div class="header">
  <ul>
    <li><a class="active" href="/">LabTracker</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="#news">Labs</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
    <% @logged_in = true %>
    <% if @logged_in %>
      <li><div class="dropdown"><a href="#account">Account</a><%= erb :'partials/dropdown_account' %></div></li>
    <% else %>
      <li><a href="#about">Log In</a></li>
   <% end %>
  </ul> 
</div>

