<!--   <div class="right-column">Column</div> -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    
  </style>
</head>
<body>
    <div id="press" class="fling-minislide">
      <img src="/images/caricature.jpeg"/></a>
      <img src="/images/doggy.jpeg"/>
      <img src="/images/robot.jpeg"/>
      <img src="/images/rocket.jpeg"/>
      <img src="/images/sciencehub.png"/>
      <img src="/images/stars.jpeg"/>
    </div>
</body>
</html>
