<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/students/forms.css" type="text/css">
    <title></title>
</head>
<body>
    <div class="container">
      <%= erb :'partials/errors' %>
      <form action="/teachers/<%= @lab_id%>" method="POST" style="border:1px solid #ccc">
        <label for="exp_name">Teacher's Name</label>
        <input type="text" id="teacher_name" name="teacher[name]" placeholder="Teacher's name..">
        <label for="description">Teacher's Department</label>
        <input type="text" id="department" name="teacher[department]" placeholder="Department">
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>