<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/students/forms.css" type="text/css">
    <title></title>
</head>
<body>
    <div class="container">
      <%= erb :'partials/errors' %>
      <form action="/labs" method="POST" style="border:1px solid #ccc">
        <label for="labname">Lab's Name</label>
        <input type="text" id="lab_name" name="lab[name]" placeholder="Your lab's name..">

        <label for="description">Lab's Description</label>
        <input type="text" id="lab_description" name="lab[description]" placeholder="Your lab's description">
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>


