<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/labs/searchbox.css" type="text/css">
</head>
<body>
  <div class="container">
    <form class="example" action="/search/lab" style="margin:auto;max-width:300px" method="GET">
      <input type="text" name="lab[name]" placeholder="Chem101, PHS203.....">
      <button type="submit">Search</button>
    </form>
  </div>
</body>
</html>




